<section class="forecast">
  <h1>Forecast for {{ city }}</h1>
  <p><a href="#/">← Back to Search</a></p>

  <hr />

  <ul class="forecast__navigation nav nav-tabs">
    <li role="presentation" ng-class="{ 'active': days == 2 }">
      <a href="#/forecast/2">Today and tomorrow</a>
    </li>
    <li role="presentation" ng-class="{ 'active': days == 5 }">
      <a href="#/forecast/5">Next 5 days</a>
    </li>
    <li role="presentation" ng-class="{ 'active': days == 7 }">
      <a href="#/forecast/7">Next week</a>
    </li>
  </ul>

  <article ng-repeat="w in weatherResult.list">
    <weather-report
      weather-day="w"
      convert-to-standard="convertToFahrenheit(daytimeTemp)"
      convert-to-date="convertToDate(dt)"
      date-format="MMMM d, y" />
  </article>
</section>
