// Brand colors
@color-blue: #01ace2;
@color-red: #e55c53;
@color-green: #44ab28;
@color-yellow: #f6af2d;
@color-white: #fff;
@color-light-gray: #ccc;
@color-md-gray: #4f4f4f;
@color-dark-gray: #121212;
@color-black: #000;
@color-facebook: #2b4b90;

// Aliases
@color-text: @color-dark-gray;

// Brand font
@font-brand: 'Roboto', Helvetica, Arial, sans-serif;

// Font sizes
@font-sm: 0.75 * @font-md;
@font-md: 16px;
@font-lg: 1.375 * @font-md;
@font-xl: 2 * @font-md;

// Horizontal and vertical spacing
@offset-sm: 0.5 * @offset-md;
@offset-md: 10px;
@offset-lg: 2 * @offset-md;
@offset-xl: 4 * @offset-md;

// Responsive breakpoints
@breakpoint-xs: 400px; // Larger than mobile
@breakpoint-sm: 550px; // Larger than phablet
@breakpoint-md: 750px; // Larger than tablet
@breakpoint-lg: 1000px; // Larger than desktop
@breakpoint-xl: 1200px; // Larger than desktop hd
