// Brand colors
$color-blue: #01ace2;
$color-red: #e55c53;
$color-green: #44ab28;
$color-yellow: #f6af2d;
$color-white: #fff;
$color-light-gray: #f2f2f2;
$color-md-gray: #cbcbcb;
$color-dark-gray: #4f4f4f;
$color-black: #000;
$color-facebook: #2b4b90;

// Aliases
$color-text: $color-dark-gray;

// Brand fonts
$font-light: 'GothamLightRegular', Arial, Helvetica, sans-serif;
$font-medium: 'GothamMediumRegular', Arial, Helvetica, sans-serif;
$font-book: 'GothamBookRegular', Arial, Helvetica, sans-serif;
$font-bold: 'GothamBoldRegular', Arial, Helvetica, sans-serif;
$font-black: 'GothamBlackRegular', Arial, Helvetica, sans-serif;

// Font sizes
$font-md: 16px;
$font-sm: 0.75 * $font-md;
$font-lg: 1.375 * $font-md;
$font-xl: 2 * $font-md;

// Horizontal and vertical spacing
$offset-md: 10px;
$offset-sm: 0.5 * $offset-md;
$offset-lg: 2 * $offset-md;
$offset-xl: 4 * $offset-md;

// Responsive breakpoints
$breakpoint-xs: 400px; // Larger than mobile
$breakpoint-sm: 550px; // Larger than phablet
$breakpoint-md: 750px; // Larger than tablet
$breakpoint-lg: 1000px; // Larger than desktop
$breakpoint-xl: 1200px; // Larger than desktop hd
